@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.main-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #491213;
}

.maim-index {
  color: #000000;
  background-color: #FFFFFF;
}

.welcome-block {
  Width: 1200px;
  Height: 485px;
  margin: 0 auto;
  background-image: url("../images/header/divider.png"), url("../images/main/index-background.jpg");
  background-position: center bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
}

.edge-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.edge-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.edge-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.edge-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.edge-text {
  text-align: center;
}

.edge-item-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.edge-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.edge-item-food {
  background-color: #FFFFFF;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotels-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.search-hotels-link {
  color: #FFFFFF;
  background-color: #756157;
}

.mailing {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/Subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mailing-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.mailing-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.mailing-button {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
